* {
    
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
background-image: url('https://i.pinimg.com/originals/14/b3/58/14b358c63c45d30466aed293fd61270b.png');
background-attachment: fixed;
background-size: 100%;
}

.cont {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(47, 34, 34);
}

.theme-toggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active {
    color: #333;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 70px;
    width: 70px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}



.calculator {
    background-color: rgb(243, 236, 236);
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ef989e;
    color: #160f0f;
}

.calculator button.btnnum {
    background-color: #b7dbee;
    color: #000;
}

.calculator button.btnop {
    background-color: #f2cbf2;
    color: #311430;
  }

  .calculator button.btnequal {
    background-color: #cdefe7;
    color: #000;
  }


  .dark {
    background-color: #010c10;
  }

  .dark #display {
    color: #c8e2ef;
  }

  .dark button#clear {
    background-color: #2d191e;
    color: #f1ced1;
  }

  .dark button.btnnum {
    background-color: #1b2f38;
    color: #ceeadf;
  }

  .dark button.btnop {
    background-color: #4b093d;
    color: #d3b7cb;
  }

  .dark button.btnequal {
    background-color: #5e1026;
    color: #ffffff;
  }

  